target
*.bak
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings
.DS_Store
*.bpmn/
/userguide/src/en/index.html
migration.html


modules/activiti-engine/src/test/resources/org/activiti/engine/test/api/runtime/RuntimeServiceTest.testFindActiveActivityIdProcessWithErrorEventAndSubProcess.bpmn20.xml
